<div class="box">
    <div>
        <div class="body">
            <h1>Travel Destinations</h1>
            {{#if trips.length}}
                <ul id="sites">
                    {{#each trips}}
                        <li>
                            <a href="/travel/{{this.id}}">
                                <img src="{{this.image}}" alt="{{this.name}}">
                            </a>
                            <h2>
                                <a href="/travel/{{this.id}}">{{this.name}}</a>
                            </h2>
                            <div class="trip-description">
                                {{{this.description}}}
                            </div>
                        </li>
                    {{/each}}
                </ul>
            {{else}}
                <p>No trips available at the moment. Please check back later!</p>
            {{/if}}
        </div>
    </div>
</div>

<style>
    .trip-description {
        margin-top: 10px;
    }
    .trip-description p {
        margin: 5px 0;
        line-height: 1.5;
    }
    #sites {
        list-style: none;
        padding: 0;
    }
    #sites li {
        margin-bottom: 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid #e0e0e0;
    }
    #sites li:last-child {
        border-bottom: none;
    }
    #sites h2 {
        margin: 10px 0;
    }
    #sites img {
        max-width: 100%;
        height: auto;
        border-radius: 4px;
    }
</style>
