<div class="box">
    <div>
        <div class="body">
            <h1>Travel</h1>
            <ul id="sites">
                {{#each trips}}
                <li>
                    <a href="/travel"><img src="/images/{{image}}" alt="{{name}}"></a>
                    <h2><a href="/travel">{{name}}</a></h2>
                    <p>{{description}}</p>
                    <p>{{length}}</p>
                    <span class="rate">Rate: ${{perPerson}} / Person</span>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>